.linea{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: white;
}

.hero{
    background-color: #010000;
}

.hero img{
    width: 100%;
    max-width: 800px;
    height: auto;
}
