.carrito {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    transition: transform 0.3s ease;
    transform-origin: top right;
}

.carrito_text{
    color: black;
}

.carrito ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carrito li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.carrito_item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito_info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.carrito_info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.carrito_imagen {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.carrito_cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.carrito_cantidad button {
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.carrito_cantidad button:hover{
    background-color: #8d8d8d;
}

.carrito_cantidad span {
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
}

.carrito_eliminar {
    border: 1px solid #ff0000dd;
    background-color: #ffffff;
    color: #000000;
    padding: 8px 8px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.carrito_eliminar:hover{
    background-color: #ff0000dd;
}