.contenedor {
    width: 100%;
    margin: auto;
    position: relative;
}

.contenedor::after {
    content: "";
    width: 80%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92.5vh;
    background-color: #010000;
}

.form_container{
    background-color: #3b3b3b;
    border-radius: 8px;
    padding: 20px;
}

.form_titulo{
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.form_subtitulo{
    font-size: 16px;
    margin-bottom: 20px;
    color: #ffffff;
}

.form_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.form_inputs{
    height: 100%;
    display: flex;
    gap: 20px 0;
}

.form_iconos{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px 0 0 5px;
    height: 50px;
    border: none;
}

.name, .pass {
  width: 250px;
  height: 50px;
  margin-bottom: 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  padding-left: 10px;
  outline: none;
}

.name::placeholder, .pass::placeholder{
    color: #505050;
    transition: transform 0.5s ease-in-out;
}

.name:focus::placeholder, .pass:focus::placeholder{
    transform: scale(0);
}

.form_inputs:last-of-type .form_iconos{
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0 5px 0 0;
}

.boton_login{
    border: none;
    background-color: white;
    color: #000000;
    padding: 8px 16px;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease;
}

.boton_login:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.regis{
    color: white;
    padding-top: 10px;
}

.regis:hover{
    cursor: pointer;
    text-decoration: underline;
}
