.footer{
    display: flex;
    flex-direction: column;
    background-color: #010000;
}

.footer_container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    list-style: none;
}

.footer_titulo{
    color: #ffffff;
}

.footer_container ul{
    list-style: none;
}

.footer_link{
    text-decoration: none;
    color: #949494;
}



