.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #4721ee;
  }

  .not-found-content {
    text-align: center;
  }

  .not-found-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
    animation: shake 0.5s linear infinite;
  }

  .not-found-content p {
    font-size: 3rem;
    color: #ffffff;
    font-style: italic;
    text-shadow: 2px 2px #4721ee;
  }

  /* Animación shake */
  @keyframes shake {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
  }
